<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>My todo Manager</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body class="p-4">
    <div class="flex flex-col justify-center items-center gap-6">
      <div class="col-start-3 col-span-2"><%- include('header.ejs') %></div>
      <div>
        <p class="py-2">Welcome to my todo manager</p>
        <p>Are You New here? <a href="/signup" class="text-green-600">Signup</a></p>
        <p>
          Do You Already have an account?
          <a href="/login" class="text-green-600">Login</a>
        </p>
      </div>
    </div>
    <div class="flex justify-center pt-6"><%- include('footer.ejs') %></div>
  </body>
</html>
